@use "./modules/variable.scss"as *;
@use "./modules/mixins.scss"as *;
@use "./modules/themes.scss";
@use "./modules/error.scss";
@use "./modules///locationCity.scss";
@use './modules/locationBasic.scss';
@use './modules/locatinQuickView.scss';
@use './modules/conteiner.scss';
@use './modules/footer.scss';
@use './modules/responsive.scss';

* {
  box-sizing: border-box;
}

.theme {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(35deg,
      rgb(11, 132, 202),
      rgb(46, 99, 160),
      rgb(23, 80, 102),
      rgb(0, 10, 14));
  color: $font-color-white;
  min-height: 100vh;
  @include centerFlex(flex, initial, center);
  flex-direction: column;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  overflow-x: hidden;
}

main {
  width: 100%;
  overflow-x: hidden;
}